@font-face {
	font-family: Rubik;
	src: url('/src/assets/rubik-wght.ttf') format('truetype-variations');
	font-weight: 300 900;
}

:root {

	--gray-300: #d1d5db;
	--gray-400: #9ca3af;
	--gray-600: #4b5563;

	--orange-100: #ffedd5;
	--orange-600: #ea580c;

	--yellow-100: #fef9c3;
	--yellow-600: #ca8a04;

	--emerald-100: #d1fae5;
	--emerald-600: #059669;

	--cyan-100: #cffafe;

	--blue-100: #dbeafe;
	--blue-600: #2563eb;

	--fuchsia-100: #fae8ff;
	--rose-100: #ffe4e6;

	--size-small: 1.8vh;
	--size-medium: 2.2vh;
	--size-big: 4.5vh;

}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Rubik;
	background: no-repeat bottom right/40vh url('girl.svg');
	user-select: none;
}

[header] {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--size-big);
	font-weight: 600;
	color: var(--gray-300);
}

[mods] {
	height: 62vh;
	display: flex;
    justify-content: center;

    flex-wrap: wrap;
    overflow: auto;
}

[mod] {
	width: 25vh;
	height: 21vh;
	padding: 3vh 3.5vh;
	margin: 1.5vh;
	border-radius: 2vh;

	display: none;
	flex-direction: column;
	justify-content: space-between;
	flex: 0 0 auto;

	background: linear-gradient(35deg, var(--clr-s) 10%, var(--clr-e) 90%);
}

[mod-type="L"] { display: flex; --clr-s: var(--yellow-100); --clr-e: var(--orange-100); --clr-t: var(--yellow-600); }
[mod-type="T"] { display: flex; --clr-s: var(--orange-100); --clr-e: var(--rose-100); --clr-t: var(--orange-600); }
[mod-type="S"] { display: flex; --clr-s: var(--emerald-100); --clr-e: var(--cyan-100); --clr-t: var(--emerald-600); }
[mod-type="U"] { display: flex; --clr-s: var(--blue-100); --clr-e: var(--fuchsia-100); --clr-t: var(--blue-600); }

[mod] > * {
	overflow: hidden;
}

[mod-name] {
	font-size: var(--size-medium);
	font-weight: 500;
	white-space: nowrap;
	color: var(--clr-t);
}

[mod-desc] {
	height: 14vh;
	font-size: var(--size-small);
	font-weight: 400;
	white-space: pre-wrap;
	color: var(--gray-600);
}

[mod-launch] {
	font-size: var(--size-small);
	font-weight: 500;
	color: var(--clr-t);
	cursor: pointer;
}

[mod-launch]:hover {
	text-decoration: underline;visibility: visible;
}

[hidden="true"] { visibility: hidden; }
[hidden="false"] { visibility: visible; }

[footer] {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--size-small);
	color: var(--gray-400);
	overflow: hidden;
	white-space: nowrap;
}