@font-face {
	font-family: Rubik;
	src: url('/src/assets/rubik-wght.ttf') format('truetype-variations');
	font-weight: 300 900;
}

:root {

	--slate-100: #f1f5f9;

	--gray-100: #f3f4f6;
	--gray-300: #d1d5db;
	--gray-400: #9ca3af;
	--gray-600: #4b5563;

	--orange-100: #ffedd5;
	--orange-600: #ea580c;

	--yellow-100: #fef9c3;
	--yellow-600: #ca8a04;

	--emerald-100: #d1fae5;
	--emerald-600: #059669;

	--cyan-100: #cffafe;

	--blue-100: #dbeafe;
	--blue-600: #2563eb;

	--fuchsia-100: #fae8ff;
	--rose-100: #ffe4e6;

	--size-small: 1.8vh;
	--size-medium: 2.2vh;
	--size-big: 4.5vh;

}

::-webkit-scrollbar {
	width: 0.75vh;
}

::-webkit-scrollbar-thumb {
	background: var(--gray-300);
    border-radius: 0.75vh;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Rubik;
	background: no-repeat bottom right/40vh url('girl.svg');
	user-select: none;
}

[header] {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--size-big);
	font-weight: 600;
	color: var(--gray-300);
}

[middle] {
    height: 76vh;
	display: flex;
    justify-content: center;
}

[viewer] {
	width: 48vh;
    margin: 0 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2vh;
    padding: 3vh 3.5vh;
	--clr-s: var(--gray-100);
	--clr-e: var(--slate-100);
    background: linear-gradient(35deg, var(--clr-s) 10%, var(--clr-e) 90%);
}

[viewer-title] {
    display: flex;
    align-items: center;

    font-size: var(--size-medium);
    font-weight: 500;
    white-space: nowrap;
    color: var(--clr-t);
}

[viewer-desc] {
	height: 60vh;
	overflow: hidden;
	font-size: var(--size-small);
    font-weight: 400;
    white-space: pre-wrap;
    color: var(--gray-600);
}

[viewer-launch] {
    display: flex;
    align-items: center;

    font-size: var(--size-small);
    font-weight: 500;
    color: var(--clr-t);
    cursor: pointer;
}

[viewer-launch]:hover {
	text-decoration: underline;
    visibility: visible;
}

[mods] {
	width: 55vh;
    margin: 0 1vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

[mod] {
	overflow: hidden;
    white-space: nowrap;
    padding: 1.25vh 1.75vh;
    margin: 0.6vh;
    flex: 0 0 auto;
	border-radius: 1.25vh;
	cursor: pointer;
	font-size: var(--size-medium);
	font-weight: 500;
	color: var(--clr-t);
	background: linear-gradient(7deg, var(--clr-s) 10%, var(--clr-e) 90%);
}

[mod-type="D"] { display: flex; --clr-s: var(--yellow-100); --clr-e: var(--orange-100); --clr-t: var(--yellow-600); }
[mod-type="U"] { display: flex; --clr-s: var(--blue-100); --clr-e: var(--fuchsia-100); --clr-t: var(--blue-600); }
[mod-type="T"] { display: flex; --clr-s: var(--emerald-100); --clr-e: var(--cyan-100); --clr-t: var(--emerald-600); }
[mod-type="C"] { display: flex; --clr-s: var(--orange-100); --clr-e: var(--rose-100); --clr-t: var(--orange-600); }

[footer] {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--size-small);
	color: var(--gray-400);
	overflow: hidden;
	white-space: nowrap;
}
